@model SEP2020.Models.Semester

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/SEPlayout.cshtml";
}

<h2 style="text-align:center">Xóa Học kì</h2>

<h3></h3>
<div>
    
    <hr />
    <table style="width:100%">
        <tr>
            <th>@Html.DisplayNameFor(model => model.namesemester)</th>
            <th>@Html.DisplayNameFor(model => model.start_date)</th>
            <th>@Html.DisplayNameFor(model => model.end_date)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.namesemester)</td>
            <td>@Convert.ToDateTime(Model.start_date).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(Model.end_date).ToString("dd/MM/yyyy")</td>
        </tr>

    </table>
    <dl class="dl-horizontal">
       
        @*<dt>
           
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.start_date)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namesemester)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.namesemester)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.namesemester)
        </dd>*@

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> <br />
            @Html.ActionLink("Quay lại danh sách", "Index")
        </div>
    }
</div>
